// Color and font variables
$primary-color: #add1e6;
$secondary-color: #254e70;
$accent-color: #ffcba4;
$heading-font: 'Montserrat', sans-serif;
$subheading-font: 'Raleway', sans-serif;
$paragraph-font: 'Nunito Sans', sans-serif;
$accent-font: 'Dancing Script', cursive;
$grid-heading-font: 'Architects Daughter', cursive;
$grid-accent-font: 'Homemade Apple', cursive;
$grid-color-one: #448fad;
$grid-color-two: #254e70;
$grid-color-three: #40a1a3;

// Override Bootstrap padding
.container-fluid {
    padding: 0;
}

// General styles
body {
    background-color: $primary-color;
}

// Navbar
.navbar-light .navbar-brand {
    color: $secondary-color;
    font-family: $subheading-font;
}

.navbar-brand span {
    color: #fff;
    font-family: $heading-font;
    font-size: 2rem;
    font-weight: 600;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
}

.navbar-light .navbar-brand:hover {
    color: $secondary-color;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-family: $heading-font;
    font-weight: 600;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: $secondary-color;
}

.btn-custom {
    color: #fff;
    background-color: $secondary-color;
    border-radius: 0.5rem;
    border: 2px solid $secondary-color;
}

.btn-custom:hover {
    background-color: $primary-color;
}

.btn-custom span {
    text-shadow: none;
}

// Hero area styles
.hero-area {
    background: url('../img/jon-flobrant-unsplash.jpg') center no-repeat $secondary-color;
    background-size: cover;
    min-height: 700px;
}

.hero-area h1 {
    color: #fff;
    font-family: 'Atma', cursive;
    font-size: 3rem;
    line-height: 1.25;
    padding: 3rem;
    text-align: center;
}

.hero-area h1 span {
    color: $accent-color;
    font-family: 'Dancing Script', cursive;
    font-size: 6rem;
}